@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #AB82FF;
}

.input, .label {
  display: block;
}

main {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #240046;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

.card {
  background-color:rgb(249 250 251);

}
form {
  padding: 1rem;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  width: 15rem;
  margin: 1rem auto;
} */

.active {
  color: yellow;
  font-weight: bold;
  font-style: italic;
}

.footer {
  position: static;
  width: 100%;
  padding: 20px;
  background-color: #3C096C;
}

a, strong {
  color: aliceblue;
}

.footer .content, a:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: yellow;

}

.footer .footer-links a {
  color: black;
  text-decoration: none;
  margin-left: 90px;
}

.footer .footer-links a:hover {

  text-decoration: underline;
}

/* Slider Custom Styles */
.slider-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.slider-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.slider-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.slider-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-animation {
  animation: slideIn 0.5s ease-out forwards;
}
