body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input, label {
  display: block;
}

/* input {
  margin-bottom:
} */


/* main {
  height: 100vh;
} */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

img {
  object-fit: contain;
  width: 48px;
  height: 48px;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}


.card {
  /* width: 1000px; Adjust width as per your preference */
  margin-bottom: 20px; /* Add some margin between the cards */
  width: 30px;
}

.card-container {
  display: flex;
  flex-direction: column; /* Arrange cards vertically */
  align-items: center; /* Align cards in the center horizontally */
  list-style-type: none;
  
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards in the center horizontally */
}

.cardli {
  margin: 10px; /* Adjust margin between cards */
  width: calc(33.33% - 20px);
}
