body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

.input, .label {
  display: block;
  color: white;
  background-color: transparent;
  border-color: hsl(266, 64%, 28%);
  border-width: .15em;
  width: 70vw;
  border-radius: 1em;
  color-scheme: dark;
}

.input::placeholder {
  color: white;
}

/* input {
  margin-bottom:
} */


main {
  height: 100vh;
  width:max-content;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

img {
  object-fit: contain;
  width: 48px;
  height: 48px;
}

/* form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
} */

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}


/* footer.css */

.footer {
  width: 100%;
  padding: 20px;
  /* display: flex;
  justify-content: space-around;  */
  /* color: white; Example text color */
  /*background-color: #ffffff; * / /* Example background color */
}

.footer .content {
  display: flex;
  justify-content: space-around; /* Align content at the ends */
  align-items: center;
}

.footer .footer-links {
  display: flex;
  justify-content: space-around
}

.footer .footer-links a {
  color: black; /* Link color */
  text-decoration: none; /* Remove underline */
  margin-left: 90px; /*Adjust spacing between links*/
}

.footer .footer-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}
/* width: auto;
padding: 10px;
display: flex;
justify-content: space-evenly */