.landingMain {
}

.landingContainer {
  position: relative;
  min-width: 600px;
  width: 60%;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  border: white solid 20px;
  border-radius: 100px;
  background-color: #A26AD0;;
}

.landingTitle {
  color:aliceblue;
  font-size: xxx-large;
  margin-top: 10px;
  text-align: center;
}

.landingImg {
  min-width: 560px;
  width: 100%;
}

.landingMission {
  color: aliceblue;
  font-size: 15px;
  text-align: center;
  z-index: 100;
  transform: translateY(-20px);
  padding: 0px 50px;
}
.landingFormsContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
.landingFormSwapButton {
  position: absolute;
  bottom: 48px !important;
  right: 135px;
  color: rgb(48, 29, 83) !important;
  text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 660px) {
  .landingContainer {
    margin-top: 20px !important;
    min-width: 320px;
    width: 95%;
    margin: 0 auto;
    border: white solid 15px;
  }
  .landingImg {
    min-width: 280px;
    width: 85%;
    margin: 0 auto;
  }
  .landingTitle {
    margin-top: 10px;
    font-size: 25px;
  }
  .landingMission {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    padding: 0px 10px;
  }
}